@font-face{font-family:"Material Design Icons";src:url("/mdi/materialdesignicons-subset.woff2") format("woff2");font-weight:normal;font-style:normal;font-display:swap}
.mdi:before,.mdi-set{display:inline-block;font:normal normal normal 24px/1 "Material Design Icons";font-size:inherit;text-rendering:auto;line-height:inherit;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.mdi-account-details:before{content:"\F0631"}
.mdi-alert:before{content:"\F0026"}
.mdi-apps:before{content:"\F003B"}
.mdi-arrow-down:before{content:"\F0045"}
.mdi-arrow-left:before{content:"\F004D"}
.mdi-arrow-right:before{content:"\F0054"}
.mdi-arrow-up:before{content:"\F005D"}
.mdi-book-open-outline:before{content:"\F0B63"}
.mdi-cached:before{content:"\F00E8"}
.mdi-calendar:before{content:"\F00ED"}
.mdi-calendar-month:before{content:"\F0E17"}
.mdi-check:before{content:"\F012C"}
.mdi-check-circle:before{content:"\F05E0"}
.mdi-checkbox-blank-outline:before{content:"\F0131"}
.mdi-checkbox-marked:before{content:"\F0132"}
.mdi-chevron-down:before{content:"\F0140"}
.mdi-chevron-left:before{content:"\F0141"}
.mdi-chevron-right:before{content:"\F0142"}
.mdi-circle:before{content:"\F0765"}
.mdi-close:before{content:"\F0156"}
.mdi-close-box:before{content:"\F0157"}
.mdi-close-circle:before{content:"\F0159"}
.mdi-comment-processing-outline:before{content:"\F0185"}
.mdi-dots-vertical:before{content:"\F01D9"}
.mdi-exclamation:before{content:"\F0205"}
.mdi-eye:before{content:"\F0208"}
.mdi-eye-outline:before{content:"\F06D0"}
.mdi-github:before{content:"\F02A4"}
.mdi-information:before{content:"\F02FC"}
.mdi-loading:before{content:"\F0772"}
.mdi-magnify:before{content:"\F0349"}
.mdi-menu:before{content:"\F035C"}
.mdi-menu-down:before{content:"\F035D"}
.mdi-minus:before{content:"\F0374"}
.mdi-minus-box:before{content:"\F0375"}
.mdi-page-first:before{content:"\F0600"}
.mdi-page-last:before{content:"\F0601"}
.mdi-paperclip:before{content:"\F03E2"}
.mdi-pencil:before{content:"\F03EB"}
.mdi-plus:before{content:"\F0415"}
.mdi-radiobox-blank:before{content:"\F043D"}
.mdi-radiobox-marked:before{content:"\F043E"}
.mdi-star:before{content:"\F04CE"}
.mdi-star-half:before{content:"\F0246"}
.mdi-star-outline:before{content:"\F04D2"}
.mdi-thumb-up-outline:before{content:"\F0514"}
.mdi-unfold-more-horizontal:before{content:"\F054F"}
